
body{
    display: flex;
    place-content: center center;
}

#container{
    width: 70%;
   
}

#container path{
    fill: plum;
    stroke: white;
    stroke-width: 2px;
}

#container :hover
{
    fill: purple;
}

